<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LFERP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LFERP.My.MySettings.LFERPBOMConnectionString" connectionString="Data Source=192.168.1.48;Initial Catalog=LFERPBOM;Persist Security Info=True;User ID=bomuser;Password=bomuser"
            providerName="System.Data.SqlClient" />
        <add name="LFERP.My.MySettings.TESTLFERPConStr" connectionString="Data Source=192.168.1.48;Initial Catalog=TESTLFERP;User ID=oauser;Password=oauser"
            providerName="System.Data.SqlClient" />
        <add name="LFERP.My.MySettings.TESTLFERPConnectionString" connectionString="Data Source=192.168.3.48;Initial Catalog=TESTLFERP;User ID=oauser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <LFERP.My.MySettings>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="strCOM" serializeAs="String">
                <value />
            </setting>
        </LFERP.My.MySettings>
    </userSettings>
</configuration>
